<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>tree_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_B0.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,2},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_BB.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,2},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_BL.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,324},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_BR.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,324},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_LB.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,324},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
		<key>tree_RB.png</key>
		<dict>
			<key>frame</key>
			<string>{{646,324},{320,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{320,320}}</string>
			<key>sourceSize</key>
			<string>{320,320}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>TreeTiles.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:9063f7192687cce9b3da28bbd9493c96$</string>
		<key>textureFileName</key>
		<string>TreeTiles.png</string>
	</dict>
</dict>
</plist>
