<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LiftClose00.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose03.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose06.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose08.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftClose09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen01.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen03.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen04.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen06.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen08.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
            <key>LiftOpen09.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,194},{171,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,190}}</string>
                <key>sourceSize</key>
                <string>{171,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiftDoors.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15834d0e7373a05e9689a225eb398ca9$</string>
            <key>textureFileName</key>
            <string>LiftDoors.png</string>
        </dict>
    </dict>
</plist>
