<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Scene2Arrow00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow01.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow04.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,90},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow05.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,90},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow07.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,178},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,178},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
            <key>Scene2Arrow09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{141,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,86}}</string>
                <key>sourceSize</key>
                <string>{141,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Scene2Arrow.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc209ee0a0350670a07eb52e3217dbac$</string>
            <key>textureFileName</key>
            <string>Scene2Arrow.png</string>
        </dict>
    </dict>
</plist>
